.squad {
  padding: 100px 0;

  &__body {
    h2 {
      color: #252b42;
    }
  }
  &-card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 60px;

    padding: 80px 0;
  }
  &-card {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: calc((100% - 120px) / 3);

    border-radius: 10px;
    border: 1px solid #dedede;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

    padding: 40px 30px;

    &__avatar {
      max-width: 149px;

      margin-bottom: 40px;

      img {
        width: 149px;
        height: 149px;

        border-radius: 50%;

        object-fit: fill;
      }
    }

    &__text {
      text-align: center;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;

      text-align: center;
      letter-spacing: 0.2px;

      color: #374754;

      max-width: 271px;

      margin-bottom: 90px;
    }

    &__contacts {
      display: flex;
      text-align: center;
      flex-direction: column;

      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 27px;

      letter-spacing: 0.2px;

      margin-top: auto;

      color: #252b42;

      a {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;

        letter-spacing: 0.1px;

        color: #374754;

        text-decoration: none;
      }
    }
  }
}
