.welcome {
  position: relative;

  padding-top: 236px;
  padding-bottom: 135px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__waves {
    position: absolute;

    top: 0;
    left: 0;

    z-index: -1;
    object-fit: fill;

    width: 100%;
    height: 100%;
  }

  h1 {
    color: #ffffff;

    margin-bottom: 90px;
  }

  .button {
    margin: 0 auto;
  }

  &__computer {
    position: relative;

    display: block;

    width: 100%;

    margin: 115px auto 0;
    img {
      height: 100%;
      width: 100%;
    }
    video {
      position: absolute;

      left: 11.3%;
      top: 4%;

      width: 77%;
      height: 86%;

      object-fit: cover;
    }
  }
}
