.header {
  position: fixed;

  color: #ffffff;

  z-index: 1000;

  width: 100%;

  background: rgba(#2288ff, 0.9);
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px 40px;
    overflow: hidden;

    min-width: 75px;
    height: 75px;
    img {
      max-width: 75px;

      object-fit: cover;

      opacity: 0.9;
    }
    &:hover {
      border: 1px solid red;

      opacity: 1;

      box-shadow: inset 0 0 5px 0 #333;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 21px;

    @media screen and (max-width: 600px) {
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: -100%;

      width: 100%;
      height: 100%;

      z-index: -1;

      transition: all 0.5s;
      backdrop-filter: blur(5px);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 27px;

    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
  }

  .hamburger-menu {
    .menu__btn {
      display: block;
      position: relative;

      width: 36px;

      padding-right: 40px;

      & > span,
      & > span::before,
      & > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 4px;

        transition: 0.2s;

        background-color: #ffffff;
      }

      & > span::before {
        content: "";
        top: -12px;
      }
      & > span::after {
        content: "";
        top: 12px;
      }
      @media screen and (min-width: 601px) {
        display: none;
      }
    }

    #menu__toggle {
      display: none;

      &:checked ~ .header__nav {
        right: 0;
      }

      &:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        &::before {
          top: 0;
          transform: rotate(0);
        }
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      &:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
    }
  }
}

.footer {
  color: #ffffff;

  padding: 107px 0;

  background: rgba(37, 43, 66, 1);

  &__basement {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.2px;

    color: #ffffff;
  }

  &__body {
    .footer-menu-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      gap: 60px;

      padding-bottom: 30px;

      .footer-menu {
        max-width: 400px;
        &__text {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;

          letter-spacing: 0.2px;

          color: #ffffff;
        }
      }
      .footer-menu:first-child {
        margin-right: auto;
      }

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 57px;

        letter-spacing: 0.2px;
        text-align: left;

        color: #ffffff;

        @media screen and (max-width: 772px) {
          font-size: 32px;
        }
      }
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
        text-align: start;

        letter-spacing: 0.1px;

        color: #ffffff;
      }

      a {
        text-decoration: none;

        color: #ffffff;
      }
      @media screen and (max-width: 772px) {
        gap: 40px;
      }
    }
  }
}
