.button {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;

  text-align: center;
  letter-spacing: 0.1px;

  color: #2091f9;

  background: #ffffff;
  border-radius: 35px;

  padding: 16px 58px;

  text-decoration: none;

  @media screen and (max-width: 772px) {
    font-size: 22px;
    line-height: 33px;

    padding: 16px 58px;
  }
}
